<!DOCTYPE html>
<html lang="en">
	<head>
      	<meta charset="UTF-8">
		<title>I WanTo Know</title>

		<!-- Getting Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

		<!-- Getting CSS file -->
		<link rel="stylesheet" href="/static/index.css">

		<!-- Getting Icon -->
		<link rel="icon" href="/static/images/icon.png">
	</head>

	<body>
		<!-- Navigation Bar -->
		<div class="nav-bar">
		  <a href="/" class="nav-item-left">Home</a>
		  <a href="#" class="nav-item-right">About</a>
		  <a href="report" class="nav-item-right">Report</a>
		  <a href="#" class="nav-item-right">Git</a>
		</div>

		<div class="content">
			<!-- Main Title -->
			<h1 class="main-title-top">I WanTo Know</h1>

			<div class="about"> 
				<p>
					"I WanTo Know" is a small project where, using Wolfram|Alpha, you can get to know some fun things.
					</br>
					This project was developed with the purpose of investigating technologies like DJango, XML, XQuery etc.
					</br>
					</br>
					Developed by Antonio Silva 76678 for EDC - University Of Aveiro 2018 
					</br>
					</br>
					Related Links:
				</p>

				<a href="https://github.com/asergios">My GitHub</a>
				</br>
				<a href="https://www.wolframalpha.com/">Wolfram|Alpha</a>
				</br>
				<a href="https://www.ua.pt/">University Of Aveiro</a>
			</div>
			
		</div>

	</body>

</html>