<!DOCTYPE html>
<html lang="en">
	<head>
      	<meta charset="UTF-8">
		<title>I WanTo Know</title>

		<!-- Getting Google Font -->
		<link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

		<!-- Getting CSS file -->
		<link rel="stylesheet" href="/static/index.css">

		<!-- Getting Icon -->
		<link rel="icon" href="/static/images/icon.png">
	</head>

	<body>

		<!-- Navigation Bar -->
		<div class="nav-bar">
		  <a href="/" class="nav-item-left">Home</a>
		  <a href="about" class="nav-item-right">About</a>
		  <a href="report" class="nav-item-right">Report</a>
		  <a href="http://code.ua.pt/projects/iwantoknow_edc1718/repository" class="nav-item-right">Git</a>
		</div>

		<!-- Atom Feed -->
		<div class="feed">
			<h2 class="feed-title" >Wolfram|Alpha News:</h2>
			<h5 class="feed-subtitle" >from Reddit</h5>
			{{feed |safe}}
		</div>

		<div class="content">
			<!-- Main Title -->
			<h1 class="main-title">I WanTo Know</h1>
			<h2 class="sub-title">Find out what Wolfram|Alpha can let you know!</h2>

			<!-- DropDown Menu -->
			<div class="dropdown-menu">

				<button class="dropdown-button">
					<!-- Checking if user_picked parameter was given by render -->
					{% if user_picked %}
						{{user_picked}}
					{% else %}
						I want to know...
					{% endif %}
				</button>

				<div class="dropdown-items">
					<form action="/" method="post">
						{% csrf_token %}
						{% for entry in entries %}
							<input type="submit" name="pick" value="{{entry}}">
						{% endfor %}
					</form>
				</div>
			</div>

			<div class="form-div">
				<form action="{{formAction}}" method="post">
					{% csrf_token %}
					{{form}}

					{% if form.date.errors%}
					    {% for error in form.date.errors %}
					        <li class="error"><strong>{{ error|escape }}</strong></li>
					    {% endfor %}
					{% endif %}

					{% if error %}
					    <li class="error"><strong>Couldn't find an answer for your input</strong></li>
					{% endif %}
				</form>
			</div>
			
		</div>

	</body>

</html>