{% extends "results.html" %}

{% block final %}
		<div class="bday-results"
								xmlns:pred= "http://www.entries.com/pred/" 
								about= "http://www.entries.com/result/time_in/{{user_input}}"
								typeof= "pred:result">
			<h1> It is </h1>

			<span rel="pred:has_pod" href="http://www.entries.com/pod/time_in/{{user_input}}/Result">
				<h3 property="pred:content" >{{ hour }}</h3>
			</span>

			<h2> which gives a difference of </h2>

			<span rel="pred:has_pod" href="http://www.entries.com/pod/time_in/{{user_input}}/TimeOffsets">
				<h3 property="pred:content" >{{ offset }}</h3>
			</span>
		</div>

{% endblock %}